.grid {
  border: solid 1px black;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.grid-size {
  height: 500px;
  width: 500px;
}

.black {
  background-color: black;
}

.erase {
  background-color: transparent;
}

.rainbow {
  background-color: rgb(0,0,0);
}